<div class="container d-flex flex-column align-items-center">
  {{!-- sort dropdown --}}
  <form action="/sort" method="GET" class="mb-3">
    <select name="sortedBy" onchange="this.form.submit()" class="selectpicker" multiple title="類別">
      <option value="家居物業">家居物業</option>
      <option value="交通出行">交通出行</option>
      <option value="餐飲食品">餐飲食品</option>
      <option value="休閒娛樂">休閒娛樂</option>
      <option value="其他">其他</option>
    </select>
    <noscript><input type="submit" value="Submit"></noscript>
  </form>
  
  {{!-- total amount --}}
  <div class="d-flex my-2">
    <h2>總金額：</h2>
    <h2 style="color: #75CAEA;">{{#sum records}}{{/sum}}</h2>
  </div>
  

  

 
  
  
  <ul>
    {{#each records}}
    <li class="list-group-item list-group-item-action">
      <div class="row d-flex justify-content-between">
        <div class="row col-auto flex-grow-1">
          <div class="col-auto align-self-center icon" style="width: 70px;">
            <i class="{{this.icon}}"></i>
          </div>
          <div class="col-auto mr-auto align-self-center ml-2" style="width: 30vw;">
            <h4>{{this.name}}</h4>
            <span>{{this.date}}</span>
          </div>
          <div class="col-auto align-self-end justify-content-end">
            <span>{{this.amount}}</span>
          </div>
        </div>
  
        <div class="col-auto">
          <a class="btn btn-outline-info mb-1" style="width: 71.11px;" href="/records/{{this._id}}/edit">edit</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger" type="submit">delete</button></form>
        </div>
      </div>
  
    </li>
    {{/each}}
  </ul>
  
  <a class="btn btn-outline-primary" href="./records/new">新增支出</a>
  

</div>
