{{!-- total amount --}}
<div class="total-amount d-flex m-0 pl-3 py-1">
  <h3>總金額：</h2>
  <h3>{{#sum records}}{{/sum}}</h2>
</div>

<div class="container d-flex flex-column align-items-center mt-3">
  <ul class="list-group record-list">
    {{#each records}}
    <li class="list-group-item list-group-item-action">
      <div class="row d-flex justify-content-between">
        <div class="row col-auto flex-grow-1">
          <div class="col-auto align-self-center icon" style="width: 70px;">
            <i class="{{this.icon}}"></i>
          </div>
          <div class="col-auto mr-auto align-self-center ml-2" style="width: 30vw;">
            <h4>{{this.name}}</h4>
            <span>{{this.date}}</span>
          </div>
          <div class="col-auto align-self-end justify-content-end">
            <span>{{this.amount}}</span>
          </div>
        </div>

        <div class="col-auto">
          <a class="btn btn-outline-info mb-1" href="/records/{{this._id}}/edit">編輯</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger" type="submit">刪除</button></form>
        </div>
      </div>

    </li>
    {{/each}}
  </ul>

  <div id="wheel">
    <div class="wheel-container d-flex flex-column align-items-center justify-content-end">
      <div class="sort-wrapper">
        <form action="/sort" method="GET">
          <input type="radio" id="housing" value="housing" name="sortedBy" onchange="this.form.submit()">
          <label for="housing" class="housing-toggle-label"><i class="fas fa-home fa-3x"></i></label>
          <input type="radio" id="transportation" value="transportation" name="sortedBy" onchange="this.form.submit()">
          <label for="transportation" class="transportation-toggle-label"><i
              class="fas fa-shuttle-van fa-3x"></i></label>
          <input type="radio" id="food" value="food" name="sortedBy" onchange="this.form.submit()">
          <label for="food" class="food-toggle-label"><i class="fas fa-utensils fa-3x"></i></label>
          <input type="radio" id="entertainment" value="entertainment" name="sortedBy" onchange="this.form.submit()">
          <label for="entertainment" class="entertainment-toggle-label"><i class="fas fa-grin-beam fa-3x"></i></label>
          <input type="radio" id="others" value="others" name="sortedBy" onchange="this.form.submit()">
          <label for="others" class="others-toggle-label"><i class="fas fa-pen fa-3x"></i></label>
        </form>
      </div>

      <div class="add-wrapper">
        <a class="add-record" href="./records/new">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      </div>


    </div>
  </div>




</div>