<h2>總金額：{{#sum records}}{{/sum}}</h2>


{{!-- sort dropdown --}}
<form action="/sort" method="GET">
  <select name="sortedBy" class="form-control" onchange="this.form.submit()">
    <option value="">類別</option>
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="其他">其他</option>
  </select>
  <noscript><input type="submit" value="Submit"></noscript>
</form>

<ul style="overflow: scroll;">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <div class="icon">
          <i class="{{this.icon}}"></i>
        </div>
        <div class="content">
          <h3>{{this.name}}</h3>
          <span>{{this.date}}</span>
          <span>{{this.amount}}</span>
        </div>
      </div>

      <div class="col-auto">
        <a href="/records/{{this._id}}/edit">edit</a>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST">
        <button type="submit">delete</button></form>
      </div>
    </div>

  </li>
  {{/each}}
</ul>

<a href="./records/new">新增支出</a>